.card-group {
    width: 1141px;    
    margin: 129px auto;

    .card-group__item {
    margin-right: 30px;
    }

    .card-group__list {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .card-group__item-heading {
        @include font (13px, 16px, 400); 
        text-transform: uppercase;
        margin-top: 24px;
    } 

    .card-group__item-text {
        @include font (14px, 17px, 300);
        color: $text-gray; 
    }

    .products__sub-heading {
        display: block;
    }

    .card-group__item-price {
        @include font (16px, 19px, 400);
        color: $lite-pink;
    }
}