.categories {
    .categories__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

    .categories__item { 
        width: 360px;
        min-height: 260px;
        margin: 0 0 30px;
        background-size: cover;

        @include tablet {
            width: 32%;
            min-height: 160px;
            margin: 0 0 20px;
            background-size: cover;
        }

        @include mobile {
            width: 100%;
            min-height: 247px;
            margin: 0 0 32px;
            background-size: cover;
        }
    }
    
    .categories__item--woman {
        background-image: url(../img/categories-woman.jpg);
        align-items: center;
        display: flex;

        @include tablet {
            min-height: 167px;
            background-size: cover;
        }

        @include mobile {
            min-height: 247px;
            background-size: cover;
        }
    }
    
    .categories__item--man {
        background-image: url(../img/categories-man.jpg);
        align-items: center;
        display: flex;

        @include tablet {
            min-height: 167px;
        }

        @include mobile {
            min-height: 247px;
        }
    }
    
    .categories__item--kids {
        background-image: url(../img/categories-kids.jpg);
        align-items: center;
        display: flex;

        @include tablet {
            min-height: 167px;
        }

        @include mobile {
            min-height: 247px;
        }
    }
    
    .categories__item--accessories {
        background-image: url(../img/categories-accesories.jpg);
        min-height: 180px;
        width: 100%;
        align-items: center;
        display: flex;
        margin: 30px 0 96px;

        @include tablet {
            min-height: 116px;
        }

        @include mobile {
            min-height: 111px;
        }
    }
    
    .categories__item-wrapper-woman {
        padding: 0 0 0 103px;
        @include tablet {
            padding: 0 0 0 25%;
        }

        @include mobile {
            padding: 0 0 0 25%;
        }
    }
    
    .categories__item-wrapper-man {
        padding: 0 0 0 125px;
        @include tablet {
            padding: 0 0 0 35%;
        }

        @include mobile {
            padding: 0 0 0 25%;
        }
    }
    
    .categories__item-wrapper-kids {
        padding: 0 0 0 123px;
        @include tablet {
            padding: 0 0 0 39%;
        }

        @include mobile {
            padding: 0 0 0 25%;
        }
    }
    
    .categories__item-wrapper-accessories {
        padding: 0 0 0 125px;
        @include tablet {
            padding: 0 0 0 25%;
        }

        @include mobile {
            padding: 0 0 0 25%;
        }
    }
    .categories__text {
        @include font (16px, 19px, 400);
        text-align: center;
        color:  $white;
        text-transform: uppercase;
    }
    
    .categories__heading {
        @include font (24px, 29px, 700);
        text-align: center;
        color:  $dark-pink;
        text-transform: uppercase;
    }
}

